@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  padding: 0 5px;
  // margin-top: 55px;
  // padding-top: 55px;
}

h1,
h2,
h3,
h4 {
  // padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}